body {
  margin: 0;
  overflow-x: hidden;
}


.product-grid {
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}

.card {
  width: 250px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.card-title {
  font-size: 16px;
  margin: 10px 0;
   color: #222;
}

.card-price {
  color: green;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.card-btn {
  width: 100%;
  padding: 8px 0;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-btn:hover {
  background: #333;
}
